<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Init Vue</title>
    <script src="http://unpkg.com/vue@3"></script>
  </head>

  <body>
    <div id="app">
      <ul v-for="(frameworkArray, i) in frameworks" :key="i">
        <li v-for="(framework, j) in frameworkArray" :key="j">{{ framework }}</li>
      </ul>
    </div>
    <script src="main.js"></script>
  </body>
</html>
